.app {
  flex-direction: column;
  align-items: center;
}

.albums-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.album {
  width: 250px;
  border-radius: 12px;
}

.album img {
  width: 100%;
  border-radius: 8px;
}

.tracks-container {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
}

.tracks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}



.banner {
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner iframe {
  border: none;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.albums-container .album:nth-child(1) {
  background-color: green;
  color: lightblue;
}

.albums-container .album:nth-child(2) {
  background-color: goldenrod;
  color: rgb(110, 80, 3);
}

.albums-container .album:nth-child(3) {
  background-color: purple;
  color: rgb(48, 2, 48);
}

.albums-container .album:nth-child(4) {
  background-color: red;
  color: maroon;
}

.albums-container .album:nth-child(5) {
  background-color: lightblue;
  color: rgb(96, 18, 185);
}

.albums-container .album:nth-child(6) {
  background-color: black;
  color: white;
}

.albums-container .album:nth-child(7) {
  background-color: pink;
  color: rgb(91, 91, 250); 
}

.albums-container .album:nth-child(8) {
  background-color: grey;
}

.albums-container .album:nth-child(9) {
  background-color: brown;
  color: goldenrod;
}

.albums-container .album:nth-child(10) {
  background-color: darkblue;
  color: lightseagreen;
}
ul.tracks-list {
  list-style-type: none;
  padding-left: 0;
}

